
div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div a{
  background-color: #e6efe8;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.15rem;
  border-radius: 5rem;
  font-weight: 600;
  color: rgb(24, 84, 29);
}
