<h4>Products List</h4>

<div class="row">
  <div class="col-md-4" *ngFor="let product of products; let i = index">
    <div
      class="card"
      [class.active]="i == currentIndex"
      (click)="setActiveProduct(product, i)"
    >
      <img [src]="product.images" class="card-img-top" alt="product image" />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="discount">{{ product.ifDiscount ? "on sale" : "" }}</p>
        <!--a href="#" class="btn btn-primary">View details</a-->
      </div>
    </div>
  </div>
</div>

<button
  class="m-3 btn btn-sm btn-danger"
  (click)="removeAllProducts()"
  *ngIf="showModeratorBoard || showAdminBoard"
>
  Remove All
</button>
